body{
	margin:0;
	padding:0;
	font-family: 'Lato', Times, 'Times New Roman', serif;
	overflow: hidden;
}

/* Style for navigation*/
#top-menu{
	z-index: 1000;
	position: fixed;
	height: 68px;
	width: 100%;
	box-shadow: 0 0 50px rgba(0,0,0,0.3);

	font-family:sans-serif;
	-moz-user-select: none;
 	-webkit-user-select: none;
  	-ms-user-select: none;

	background-image: linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
}

#top-menu ul{
	text-align: center;
}

#top-menu ul li{
	display: inline-block;
	vertical-align: middle;
	padding: 0 3% 0 3%;
	border-right: 1px dotted #bbb;
	text-align: center;
}

#top-menu ul li:first-child, #top-menu ul li:last-child{
	border-right: none;
}

#top-menu ul li a{
	padding: 2px 8px 2px 8px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: gray;
}

#top-menu ul li a:hover{
	background-color: #fea072;
	color: white;
	border-radius: 6px;
}

.active{
	background-color: #fea072;
	color: white !important;
	border-radius: 6px;
}

#logo{
	background: url(../images/logo3.png) no-repeat center;
	background-size: auto 85%;
	min-width: 100px;
	width: 15%;
	height: 68px;
	margin: 0 !important;
	padding: 0 !important;
}

#logo:hover{
	background-color: transparent !important;
}

/* Here are the main bock of every section*/
#home { 
	background: url(../images/home.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


#plan { 
	background: url(../images/plan.png) 100% 10% no-repeat fixed; 
	background-color: #f7f7f7;
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#do { 
	background: url(../images/home.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#review { 
	background: url(../images/reviewbg.png) 100% 10% no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#feedback { 
	background: url(../images/home.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Introduction of certain parts */

#home article { 
	background: url("../images/intro.png") no-repeat scroll center top transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	top: 291px; width: 100%; 
}


#plan article { 
	background: url("../images/plantext.png") no-repeat scroll top right transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	right: 10%;
	top: 191px; 
	width: 100%; 
}

#do article { 
	background: url("../images/dotext.png") no-repeat scroll center top transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	top: 151px; 
	left: 100px;
	width: 100%; 
}

#review article { 
	background: url("../images/reviewText.png") no-repeat scroll top right transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	left: -50px;
	top: 151px; width: 100%; 
}

#feedback article { 
	background: url("../images/feedbackText.png") no-repeat scroll center top transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	top: 246px; width: 100%; 
}


textarea{
	position: relative;
	left: 30%;
	top: 150px;
	width: 300px;
	height: 20px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	opacity: .40; 
	/* Standard opacity property */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE opacity property */
    /* reducing the opacity will also make the textarea text become transparent */
}

#textarea2{
	position: relative;
	left: 20%;
	top: 100px;
	width: 500px;
	height: 200px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	opacity: .40; 
	/* Standard opacity property */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE opacity property */
    /* reducing the opacity will also make the textarea text become transparent */
}


textarea:focus{
background-color: lightyellow;
}

#submit_button{
	float: left;
	position: relative;
	left: 64%;
	top:150px;
	color: red;
	font-size: 18px;
	background-color: white;
	color: gray;
	opacity: .10; 
	padding: 6px 10px 4px 10px;
	border-radius: 6px;
	cursor: pointer;

}

#submit_button:hover{
	background-color: #fea072;
	opacity: 1;
	color: white;
	position: relative;;
}

.panel{
	overflow: hidden;
}

.panelContainer{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	white-space: nowrap;
	-webkit-transition:left 0.6s ease-out;
	-moz-transition:left 0.6s ease-out;
	-o-transition:left 0.6s ease-out;
	transition:left 0.6s ease-out;
}

.individualpannel{
	font-family: 'Lato', Times, 'Times New Roman', serif;
	width: 320px;
	height: 380px;
	margin: 40px;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	position:relative;
	border-top-left-radius: 5% 5%;
	border-top-right-radius: 5% 5%;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	font-family:sans-serif;
}

.individualPanelContent{
	display: inline-block;
	vertical-align: top;
	width: 0px;
	height: 380px;
	margin: 40px 0 40px 0;
	overflow: hidden;
	-webkit-transition:width 0.6s ease-out;
	-moz-transition:width 0.6s ease-out;
	-o-transition:width 0.6s ease-out;
	transition:width 0.6s ease-out;
}

.individualPanelContent.expanded{
	width: 640px;
}


.pannelHeader{
	font-size: 20px;
	text-align: center;
	padding: 14px;
	color: white;
	overflow: hidden;
	border-top-left-radius: 5% 26%;
	border-top-right-radius: 5% 26%;
}

.pannelHeader p{
	font-size: 14px;
}

.pannelContext{
	padding: 20px;
	color:gray;
	line-height: 20px;
	text-align: left;
	white-space: normal;
}

.color1{
	background-color: #8ec041;
}

.color2{
	background-color: #58bc80;
}

.color3{
	background-color: #53b2c9;
}

.moveLeft{
	left: -1000px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}
.moveRight{
	left: 1000px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}

.individualpannel.move, #circle_btn1.move{
    left: -600px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}


#plan article.move{
    top: -600px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}

.circle_btn{
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: center; 
	bottom:20px;
	right:20px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 20px;
	color: white;
	cursor: pointer;
	-moz-user-select: none;
 	-webkit-user-select: none;
  	-ms-user-select: none;
}

.circle_btn:hover{
	background-color: #fea072;
}



.circle_btn>p{
	position: relative;
	margin-right: 10px;
}

/* For some reason, I cannot preset the h2 tag, so I need to assign them seperately*/
h2{
	font-size: 20px;
}
p{
	font-size: 10px;
}

