body{
	margin:0;
	padding:0;
	font-family: 'Lato', Times, 'Times New Roman', serif;
	overflow: hidden;
}

section{
	/*better turn this on in my office*/
	/*display:none !important;*/
}

/* Style for navigation*/
#top-menu{
	z-index: 1000;
	position: fixed;
	height: 68px;
	width: 100%;
	box-shadow: 0 0 50px rgba(0,0,0,0.3);

	font-family:sans-serif;
	-moz-user-select: none;
 	-webkit-user-select: none;
  	-ms-user-select: none;

	background-image: linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(247,247,247) 100%);

	opacity: 1;

	-webkit-transition:height 1s, opacity 1s;
	-moz-transition:height 1s, opacity 1s;
	-o-transition:height 1s, opacity 1s;
	transition:height 1s, opacity 1s;
}

#top-menu.shortened{
	height: 34px;
	opacity: .94;
}

#top-menu ul{
	text-align: center;
	height: 100%;
}

#top-menu ul li{
	display: inline-block;
	vertical-align: middle;
	padding: 0 3% 0 3%;
	border-right: 1px dotted #bbb;
	text-align: center;
}

#top-menu ul li:first-child, #top-menu ul li:last-child{
	border-right: none;
}

#top-menu ul li a{
	padding: 2px 8px 2px 8px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: gray;

	-webkit-transition:color 0.2s ease-out;
	-moz-transition:color 0.2s ease-out;
	-o-transition:color 0.2s ease-out;
	transition:color 0.2s ease-out;
}

#top-menu ul li a:hover{
	/*option1:orange background*/
	/*background-color: #fea072;*/

	/*option2:Curly Braces with dark text*/
	color: black;
	/*background: url(../images/brace2.png) no-repeat left;*/
	/*width: 100px;*/
	/*height: 20px;*/
	/*border-radius: 6px;*/
}

.active{
	/*option1:orange background*/
	/*
	background-color: #fea072;
	color: white !important;
	*/
}

#top-menu ul li a>span{
	/*Curly Braces default: faded out*/
	position: relative;
	top: -1px;
	opacity: 0;
	display: inline-block;
	font-weight: lighter;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

#top-menu ul li a.active, #top-menu ul li a:hover{
	color: black !important;
}

#top-menu ul li a.active>span:first-child, #top-menu ul li a:hover>span:first-child{
	opacity: 1 !important;
	-webkit-transform: translate(-4px, 0px);     /* Chrome and other webkit browsers */
    -moz-transform: translate(-4px, 0px);        /* FF */
    -o-transform: translate(-4px, 0px);          /* Opera */
    -ms-transform: translate(-4px, 0px);         /* IE9 */
    transform: translate(-4px, 0px);  
}

#top-menu ul li a.active>span:last-child, #top-menu ul li a:hover>span:last-child{
	opacity: 1 !important;
	-webkit-transform: translate(4px, 0px);     /* Chrome and other webkit browsers */
    -moz-transform: translate(4px, 0px);        /* FF */
    -o-transform: translate(4px, 0px);          /* Opera */
    -ms-transform: translate(4px, 0px);         /* IE9 */
 	transform: translate(4px, 0px); 
}

#logo{
	background: url(../images/logo3.png) no-repeat left;
	background-size: auto 85%;
	min-width: 100px;
	width: 15%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

#logo:hover{
	background-color: transparent !important;
}

/* Here are the main bock of every section*/
#home {
	position: relative;
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px;
}


#plan { 
	background: url(../images/plan.png) 100% 10% no-repeat fixed; 
	background-color: #f7f7f7;
	height: 1000px;
	margin: 0 auto; 
  	width: 100%; 
  	max-width: 1920px; 
  	position: relative; 
  	opacity: 1!important;
}

#do { 
	background: url(../images/home.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
}

#review { 
	background: url(../images/reviewbg.png) 100% 10% no-repeat fixed; 
	background-color: #f7f7f7;
	height: 1000px;  
	margin: 0 auto; 
  	width: 100%; 
  	max-width: 1920px; 
  	position: relative; 
  	opacity: 1!important;
}

#feedback {  
	position: relative;
	height: 1000px;  
	margin: 0 auto; 
  	width: 100%; 
  	max-width: 1920px; 
  	position: relative; 
}

/* Introduction of certain parts */

#home article { 
	background: url("../images/intro.png") no-repeat scroll center top transparent; 
	width: 100%;
	height: 458px; 
	position: relative;
	top: 230px;
}

#home textarea{
	width: 200px;
	height: 20px;
}

#home .inputComponent{
	width: 400px;
	text-align: center;
	margin: 0 auto;
}


#plan article { 
	background: url("../images/plantext.png") no-repeat scroll top right transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	right: 10%;
	top: 91px; 
	width: 100%; 
}

#do article { 
	background: url("../images/dotext.png") no-repeat scroll center top transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	top: 151px; 
	left: 100px;
	width: 100%; 
}

#review article { 
	background: url("../images/reviewText.png") no-repeat scroll top right transparent; 
	height: 458px; 
	position: relative; 
	text-indent: -9999px; 
	left: -50px;
	top: 151px; width: 100%; 
}

#feedback article { 
	background: url("../images/feedbackText.png") no-repeat scroll center top transparent; 
	position: relative; 
	top: 246px;
	width: 100%;
	height: 200px;
}

#feedback figure { 
	height: 48px; 	
	position: relative; 
	text-indent: -9999px; 
	top: 58px; 
	width: 1200px;
	left: 1100px;
}

#feedback .inputComponent{
	position: relative;
	top: 300px;
	width: 500px;
	margin: 0 auto;
}

#feedback .submitButton{
	display: block;
	width: 60px;
	margin: 10px 10px 0 0;
}

#feedback textarea{
	width: 100%;
	height: 200px;
	border: 3px solid #cccccc;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
}

#facebook{
	background: url("../images/socialMediaIcon/facebook.png") no-repeat scroll center top transparent; 
}
#twitter{
	background: url("../images/socialMediaIcon/twitter.png") no-repeat scroll center top transparent; 
}
#googleplus{

	background: url("../images/socialMediaIcon/google+.png") no-repeat scroll center top transparent; 
}

#sharethis{
	background: url("../images/socialMediaIcon/share-this.png") no-repeat scroll center top transparent; 
}
#socialIcon {
	position:relative;
	float: left;
	margin-left: 63%;
	margin-top: -250px;
	height: 48px;
	width:348px;
}
#socialIcon li {
	list-style-type: none;
	float: left;
	margin-left: 15px;
	height: 48px;
	width: 48px;
	opacity: 0.3;
	cursor: pointer;
}
#socialIcon li:hover {
	opacity: 0.8;
}

.panel{
	overflow: hidden;
	margin-top: -100px;
}

.panelContainer{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	white-space: nowrap;
	-webkit-transition:left 0.6s ease-out;
	-moz-transition:left 0.6s ease-out;
	-o-transition:left 0.6s ease-out;
	transition:left 0.6s ease-out;
}

.individualpannel{
	font-family: 'Lato', Times, 'Times New Roman', serif;
	width: 320px;
	height: 380px;
	margin: 40px;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	position:relative;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	font-family:sans-serif;
	-webkit-transition:opacity 0.6s;
	-moz-transition:opacity 0.6s;
	-o-transition:opacity 0.6s;
	transition:opacity 0.6s;
}

.individualPanelContent{
	display: inline-block;
	vertical-align: top;
	width: 0px;
	height: 380px;
	margin: 40px 0 40px 0;
	overflow: hidden;

	border-top-left-radius: 18px;
	border-top-right-radius: 18px;

	-webkit-transition:width 0.6s ease-out, opacity 0.6s;
	-moz-transition:width 0.6s ease-out, opacity 0.6s;
	-o-transition:width 0.6s ease-out, opacity 0.6s;
	transition:width 0.6s ease-out, opacity 0.6s;

	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.individualPanelContent.expanded{
	width: 800px;
	margin-right: 50px;
	opacity: 0.8 !important;
}


.pannelHeader{
	font-size: 20px;
	text-align: center;
	padding: 14px;
	color: white;
	overflow: hidden;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.pannelHeader p{
	font-size: 14px;
}

.pannelContext{
	padding: 20px;
	color:gray;
	line-height: 20px;
	text-align: left;
	white-space: normal;
}

.color1{
	background-color: #8ec041;
}

.color2{
	background-color: #58bc80;
}

.color3{
	background-color: #53b2c9;
}

.moveLeft{
	left: -1000px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}
.moveRight{
	left: 1000px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}

.individualpannel.move, #circle_btn1.move{
    left: -600px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}


#plan article.move{
    top: -600px;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    -ms-transition:all .5s linear;    
    transition:all .5s linear;
}

.circle_btn{
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: center; 
	bottom:20px;
	right:20px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 20px;
	color: white;
	cursor: pointer;

	-moz-user-select: none;
 	-webkit-user-select: none;
  -ms-user-select: none;

  -webkit-transition:-webkit-transform 0.3s;
	-moz-transition:-moz-transform 0.3s;
	-o-transition:-o-transform 0.3s;
	transition:transform 0.3s;
}

.circle_btn:hover{
	opacity: .7;           /* W3C complaint browsers */

}

.rotationArrow{
	background-image: url("../images/arrow.png");

	-webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
 	transform: rotate(90deg);  
}

.circle_btn>p{
	position: relative;
	margin-right: 10px;
}

/* For some reason, I cannot preset the h2 tag, so I need to assign them seperately*/
h2{
	font-size: 20px;
}
p{
	font-size: 10px;
}

/* fading background */
.originalBackground, .blurBackground{
	width: 100%;
	height: 100%;
	background-size: auto 120%;
	background-repeat: no-repeat;
  	-webkit-transition:opacity 1s;
  	-moz-transition:opacity 1s;
  	-o-transition:opacity 1s;
  	transition:opacity 1s;
}

.originalBackground{
	position: absolute;
	opacity: 1;
}

.blurBackground{
	opacity: 0;
}

#home > .originalBackground,#feedback > .originalBackground{
	background-image: url('../images/pictureSets/home_resized.jpg');
	background-position-x: center !important;
}

#home > .originalBackground > .blurBackground, #feedback > .originalBackground > .blurBackground{
	background-image: url('../images/pictureSets/home_blur_resized.jpg');
	background-position-x: center !important;
}

/**/
.inputComponent{
	position: relative;
}

.inputComponent > textarea, .inputComponent > div{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

textarea{
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	opacity: .4;
	resize: none;
	-webkit-transition:opacity 0.2s ease-out;
	-moz-transition:opacity 0.2s ease-out;
	-o-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out;
}

textarea:focus {
  outline: none;
  background-color: white;
  opacity: 1;
}

.submitButton{
	font-size: 18px;
	background-color: rgba(255, 255, 255, .1);
	color: gray;
	padding: 6px 10px 4px 10px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
}

.submitButton:hover{
	background-color: #fea072;
	color: white;
}